# Prioritaskan index.php
DirectoryIndex index.php

# Jika ingin mengaktifkan rewrite engine
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>

# Proteksi file sensitif
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|sql|bak)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>